<%= form_with(model: transaction) do |form| %>
  <% if transaction.errors.any? %>
    <div class="message is-danger">
      <div class="message-header">
        <p><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</p>
      </div>
      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description, class:"label"%>
    <%= form.text_field :description, class:"input"%>
  </div>

  <div class="field">
    <%= form.label :date, class:"label" %>
    <%= form.date_select :date ,start_year: Date.today.year ,  :required => true, class:"input"%>

  </div>

  <div class="field">
    <%= form.label :bank_account, class:"label" %>
    <%= form.text_field :bank_account, :required => true, class:"input"%>
  </div>

  <div class="field">
    <%= form.label :contra_account, class:"label" %>
    <%= form.text_field :contra_account , :required => true, class:"input"%>
  </div>

  <div class="field">
    <%= form.label :contra_account_owner, class:"label" %>
    <%= form.text_field :contra_account_owner, :required => true, class:"input" %>
  </div>


  <div class="field">
    <%= form.label :amount, class:"label" %>
    <%= form.text_field :amount, :required => true, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :currency, class:"label" %>
    <%= form.select :currency, Transaction::Currencylist, class:"input" %>

  </div>

  <div class="field">
    <%= form.label :credit_or_debit, class:"label" %>
    <%= form.select :credit_or_debit, Transaction::CreditOrDebitList, class:"input"%>
  </div>

  <div class="actions">

    <%= form.submit class:"button-is-success" %>
  </div>
<!--  <div class="column">-->
<!--    <%#= link_to 'Edit', edit_transaction_path(@transaction), class:"button is-gray" %> |-->
    <%#= link_to 'Back', transactions_path, class:"button is-gray" %>
<!--  </div>-->
<% end %>
