<%= form_with(model: transaction) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description%>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date ,start_year: Date.today.year ,  :required => true%>

  </div>

  <div class="field">
    <%= form.label :bank_account %>
    <%= form.text_field :bank_account, :required => true%>
  </div>

  <div class="field">
    <%= form.label :contra_account %>
    <%= form.text_field :contra_account , :required => true%>
  </div>

  <div class="field">
    <%= form.label :contra_account_owner %>
    <%= form.text_field :contra_account_owner, :required => true %>
  </div>


  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, :required => true %>
  </div>

  <div class="field">
    <%= form.label :currency %>
    <%= form.select(:currency, Transaction::Currencylist) %>

  </div>

  <div class="field">
    <%= form.label :credit_or_debit %>
    <%= form.select :credit_or_debit, Transaction::CreditOrDebitList%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
