
<div class="columns mt-6 is-centered">
  <% @transactions.each do |transaction| %>
    <div class="column is-one-quarter">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title"><%= transaction.date %></p>
        </header>
        <div class="card-content">
          <div class ="content">
            <p><span class ="has-text-weight-bold"><%= transaction.credit_or_debit %></span></p>
            <p><span class ="has-text-weight-bold"><b>Transaction from: </b><%= transaction.bank_account %></span></p>
            <p><span class ="has-text-weight-bold"><b>Transaction to: </b><%= transaction.contra_account_owner%><b> : </b><%= transaction.contra_account %></span></p>
            <%#=  transaction.contra_account_owner%>
            <p><span class ="has-text-weight-bold"><%= transaction.currency%><%= transaction.amount %></span></p>
            <%#= transaction.currency %>

            <%= transaction.description %>
          </div>
        </div>
        <div class="card-footer">
          <%= link_to 'Show', transaction, class:"card-footer-item" %>
          <%= link_to 'Edit', edit_transaction_path(transaction), class: "card-footer-item"%>
          <%= link_to 'Delete', transaction, method: :delete, data: { confirm: 'Are you sure?' },
          class: "card-footer-item"%>

        </div>
       </div>
      </div>
  <% end %>
</div>
