<p id="notice"><%= notice %></p>
<div class="columns mt-6 is-centered">
  <div class="column is-one-third">
    <nav class ="panel is-link">
      <p class="panel-heading">
        <%= @transaction.date %>
      </p>
      <div class="panel-block">
        Description: <%= @transaction.description %>
      </div>



      <div class="panel-block">
        Bank account: <%= @transaction.bank_account %>
      </div>

      <div class="panel-block">
        Contra account: <%= @transaction.contra_account %>
      </div>

      <div class="panel-block">
        Contra account owner: <%= @transaction.contra_account_owner %>
      </div>

      <div class="panel-block">
        Amount: <%= @transaction.amount %>
      </div>

      <div class="panel-block">
        Currency: <%= @transaction.currency %>
      </div>

      <div class="panel-block">
        Credit or debit: <%= @transaction.credit_or_debit %>
      </div>
    </nav>
    <div class="columns is-mobile">
      <div class="column">
        <%= link_to 'Edit', edit_transaction_path(@transaction), class:"button is-gray" %> |
        <%= link_to 'Back', transactions_path, class:"button is-gray" %>
      </div>

    </div>
  </div>
</div>



